.auth a.btn-primary,
.auth a.btn-primary:hover {
  background: unset !important;
  font-weight: 400 !important;
  padding: 0;
  margin: 0;
}
.auth a.btn-primary:hover {
  text-decoration: underline;
}
.auth a.btn {
  font-size: 14px;
  vertical-align: unset;
}

/* div.detail-image .modal-body {
  padding: 0 !important;
}

div.detail-image .modal-dialog {
  width: 500px !important;
} */

/*MODAL IMAGES CONTAINER*/
.global-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

/*All modalitems container*/
.all-modalItems-container {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 9%;
  left: 10%;
  width: 85%;
  min-height: 450px;
  z-index: 10000;
}
.modal-container-detail {
  border-radius: 10px 0 0 10px;
  position: relative;
  width: 700px;
  min-width: 500px;
  max-height: 100%;
  background: #0b0b0b;
  z-index: 10000;
}
.modal-element {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 80%;
  width: 100%;
  min-height: 650px;
  height: 650px;
  z-index: 10000;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.PhotosInfoModal {
  border-radius: 0 10px 10px 0;
  max-width: 30%;
  width: 25%;
  background: #0b0b0b;
  z-index: 10000;
  color: white;
  padding: 0px 30px;
}
.PhotosInfoModal .description {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.357);
}

.PhotosInfoModal input[type="text"] {
  border: unset;
  padding: 10px 10px;
  color: white !important;
  font-weight: 600;
}

.PhotosInfoModal input::placeholder {
  color: white;
  font-weight: 600;
}

.description > img {
  margin-right: 10px;
}

.comment-container {
  display: flex;
  flex-direction: column;
  color: white;
}
.tag-container {
  display: flex;
  margin-top: 20px;
}

.tag-container > img {
  margin-right: 10px;
}

.tag-container p {
  margin-bottom: 0;
}

.tag-container > div p:first-child,
.description p:first-child {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 0.9rem;
}
.tag-container > div p:not(:first-child),
.description p:not(:first-child) {
  margin-bottom: 0;
  font-size: 1rem;
  color: #ababab !important;
}
